* {
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    height: 100vh; 
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    background: rgba(51, 51, 51, 0.2); /* Şeffaf arka plan */
    padding: 1em;
    display: flex;
    justify-content: space-between; /* Sağ ve sola yayılır */
    align-items: center;
    position: fixed; /* Navbarı üste sabitledik */
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Arkadaki içeriği bulanıklaştırır */
}

.navbar .buttons {
    display: flex;
    gap: 1em;
    margin-right: 30% ;
}

.navbar button {
    background-color: #2c2424;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 0.6em 1.6em;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.4em;
    font-weight: 300;
    
    position: relative;
    overflow: hidden;
}

.navbar button::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.7s ease;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%) scale(0);
}

.navbar:hover {
    background: rgba(51, 51, 51, 0); /* Navbar'ı şeffaf yap */
    backdrop-filter: blur(0px); /* Üzerine geldiğinde bulanık olsun */
}

.navbar button:hover {
    color: #fff;
    background-color: #000000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); 
    font-weight: bold;
}

.navbar button span {
    position: relative;
    z-index: 1;
}

/* Dropdown Menü Stilleri */
.navbar .dropdown {
    position: relative;
    display: inline-block;
    margin-right: auto; /* Sol tarafa yasla */
        margin-left: 30%
}

.navbar .dropdown .dropbtn {
    background-color:#2c2424 ;
    color: #fefefe;
    padding: 0.7em 1.5em;
    font-size: 1.25em;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 300;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius:10px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover {
    background-color: #0d10ed;
}

.dropdown-content a.active {
    background-color: #ddd;
}

/* jsPanel içindeki stiller */
.jsPanel-content {
    padding: 15px;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

#nameInput, #wktInput {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    box-sizing: border-box;
    width: calc(100% - 16px);
    margin-bottom: 10px;
}

#nameInput:focus, #wktInput:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 3px rgba(38, 143, 255, 0.5);
}

#saveButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: calc(100% - 16px);
}

#saveButton:hover {
    background-color: #dbde12;
}

#saveButton:active {
    background-color:#41cf2c;
}

/* Tabloyu genişlet */
table.display {
    width: 100% !important;
    border-collapse: collapse;
}

/* Buton stilleri */
table.display .actions-btns {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

table.display .actions-btns button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin: 0 5px;
}

table.display .show-btn {
    background-color: #4CAF50; /* Yeşil */
}

table.display .update-btn {
    background-color: #FFC107; /* Sarı */
}

table.display .delete-btn {
    background-color: #F44336; /* Kırmızı */
}
/* DataTable'ı içeren div'in yüksekliğini ve genişliğini ayarlama */
#dataTableContainer {
    width: 100%; /* Tablo konteynerinin genişliğini tam yapar */
    height: 100%; /* Tablo konteynerinin yüksekliğini tam yapar */
    overflow: hidden; /* Kaydırma çubuklarını gizler */
}

/* DataTable'ın yüksekliğini ayarlama */
#myTable {
    width: 100% !important; /* Tabloyu konteyner genişliğine uyacak şekilde ayarlar */
    table-layout: fixed; /* Tablo hücrelerinin genişliğini sabitler, kaydırma çubuklarını engeller */
}

/* Tabloda alt kaydırma çubuğunu gizleme */
.dataTables_wrapper {
    overflow: hidden; /* Kaydırma çubuklarını gizler */
}

.ol-popup {
    position: absolute;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    bottom: 12px;
    left: -50px;
    min-width: 300px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: white;
    border-width: 10px;
    left: 60px;
    margin-left: -10px;
}

.ol-popup:before {
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #dddddd;
    border-width: 11px;
    left: 60px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 16px;
    color: #999999;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.ol-popup-closer:hover {
    color: #333333;
}



/* Zoom butonlarını daha alta yerleştirmek için */
.ol-zoom {
    margin-top: 20%;
    position: absolute;
    z-index: 1001; /* Butonların navbar'ın üstünde kalmasını sağlar */
}